<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Data Table</title>
    <!-- Include Tailwind CSS from CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200 p-4">
    <div class="max-w-screen-md mx-auto bg-white p-4 shadow-md">
        <h1 class="text-2xl font-bold mb-4 text-center">Coding/Computer Video</h1>

        <video controls width="100%" class="mx-auto mb-4">
            <source src="https://john-cdn.azureedge.net/test-ahi-cdn/office_-_6395%20(540p).mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
        
    </div>
</body>
</html>
